{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ProjectManager</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css"
  integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
  crossorigin="anonymous">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <div class="box-nav">
      <img src="{{user.userprofile.avatar.url}}" class="hideWeb" alt="" height="100%" style="margin-left: 10px; border-radius: 50%; border: 1px solid rgba(0,0,0,.3);">
      <button type="button" class="btn-nav" name="button"><a href="{% url 'logout' %}">Salir</a></button>
  </div>
  <div class="container" id="appVue">
    <div class="row">
      <div class="col-md-3 hideMobile">
        <img src="{{user.userprofile.avatar.url}}" alt="" class="image-profile">
        <h3 class="title-profile">@{{user.username|title}}</h3>
        <hr>
        <div class="box-drop hideMobile" @drop="delete_element(event)" class="box-tasks" @dragover="allowDrop(event)">
          <div class="box-icon-drop">
            <p style="text-align:center;"><i class="ion ion-trash-b"></i></p>
          </div>
        </div>
      </div>
      <div class="col-md-9 box-content" id="home">
        <h3 class="title-content">Proyectos</h3>
        <div class="row">
          <button type="button" v-if="isadmin" @click="showModalCreate('modal_create_project_general','modal_create_project')" class="btn-create" name="button"><i class="ion ion-plus-round"></i> Proyecto</button>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6" v-for="(project,index) in projects" style="cursor:all-scroll;" draggable="true" @dragstart="drag(event)" datatype="project" :id="project.id">
            <button type="button" v-if="isadmin" @click="delete_element(null,project.id,'project')" class="btn-delete hideWeb" name="button"><i class="ion ion-close-round"></i> Eliminar</button>
            <div class="box-project">
              <img class="img-project" :src="project.avatar" :alt="project.alias" style="cursor:pointer;" @click="goToProject(project.id,index)">
              <h4 class="title-project">[[project.alias]]</h4>
              <h4 class="subtitle-project">[[project.name]]</h4>
              <p class="description-project">[[project.description.slice(0,30)]]...</p>
              <h4 class="leader-project">by [[project.leader_user.username]]</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9 box-content hide" id="view-project">
        <h3 class="title-content"><i class="ion ion-android-arrow-back" @click="goToHome" style="cursor: pointer;"></i> [[project_show.name]]</h3>
        <hr>
        <div class="row">
          <p>[[project_show.description]]</p>
        </div>
        <div class="row">
          <button type="button" @click="showModalCreate('modal_create_task_general','modal_create_task')" class="btn-create" name="button"><i class="ion ion-plus-round"></i> Tarea</button>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="head-box-tasks" id="head-todo">
                <h4 class="title-head-box-tasks" status="todo">Por Hacer</h4>
              </div>
            </div>
            <div class="row">
              <div id="todo" @drop="drop(event,0)" class="box-tasks" @dragover="allowDrop(event)">
                <div v-for="(task,index) in tasks" v-if="task.status == 0"  :id="task.id" datatype="task" :dataindex="index" datastatus="0" draggable="true" class="task" @dragstart="drag(event)" @click="showInfoTask(task.id)" width="336" height="69">
                  <p class="name_task">#[[task.id]] [[task.alias]]</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="head-box-tasks" id="head-inprogress">
                <h4 class="title-head-box-tasks" status="inprogress">En Proceso</h4>
              </div>
            </div>
            <div class="row">
              <div id="inprogress" @drop="drop(event,1)" class="box-tasks" @dragover="allowDrop(event)">
                <div v-for="(task,index) in tasks" v-if="task.status == 1" :id="task.id" datatype="task"  :dataindex="index" datastatus="1" draggable="true" class="task" @dragstart="drag(event)" @click="showInfoTask(task.id)" width="336" height="69">
                  <p class="name_task">#[[task.id]] [[task.alias]]</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="head-box-tasks" id="head-finished">
                <h4 class="title-head-box-tasks" status="finished">Terminado</h4>
              </div>
            </div>
            <div class="row">
              <div id="finished" @drop="drop(event,2)" class="box-tasks" @dragover="allowDrop(event)">
                <div v-for="(task,index) in tasks" :id="task.id" v-if="task.status == 2" datatype="task"  :dataindex="index" datastatus="2" draggable="true" class="task" @dragstart="drag(event)" @click="showInfoTask(task.id)" width="336" height="69">
                  <p class="name_task">#[[task.id]] [[task.alias]]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="box-general-create-task hide" id="modal_create_task_general">
      <div class="box-create-task" id="modal_create_task">
        <span style="font-size: 2em; font-weight: bold; display:block; width:20px; height: 20px; border-radius: 50%; position:absolute; top:0%; right: 5%; cursor:pointer;" @click="closeModalCreate('modal_create_task_general','modal_create_task')">X</span>
        <h4>Nueva Tarea</h4>
        <hr>
        <div class="box-form-create-task">
          <div class="form-group">
            <input type="text" class="form-control" id="name_new_task" placeholder="Escribe un nombre">
          </div>
          <div class="form-group">
            <textarea name="name" rows="4" cols="80" id="description_new_task" class="form-control" placeholder="Escribe una descripcion"></textarea>
          </div>
          <div class="form-group">
            <select class="form-control" name="select_parent_task" id="parent_task_new_task">
              <option value="null">Seleccionar tarea principal</option>
              <option v-for="(task,index) in tasks" v-if="task.parent_task == null" :value="task.id">[[task.alias]]</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="alias_new_task" placeholder="Escribe un alias" >
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="date" class="form-control" id="initial_date_new_task" placeholder="Fecha Inicio" >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="date" class="form-control" id="final_date_new_task" placeholder="Fecha Final" >
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="button" @click="createTask" class="btn btn-primary btn-block" name="button">Guardar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="box-general-create-task hide" id="modal_create_project_general">
      <div class="box-create-task" id="modal_create_project">
        <span style="font-size: 2em; font-weight: bold; display:block; width:20px; height: 20px; border-radius: 50%; position:absolute; top:0%; right: 5%; cursor:pointer;" @click="closeModalCreate('modal_create_project_general','modal_create_project')">X</span>
        <h4>Proyecto</h4>
        <hr>
        <div class="box-form-create-project">
          <div class="form-group">
            <input type="text" class="form-control" id="name_new_project" placeholder="Escribe un nombre">
          </div>
          <div class="form-group">
            <input type='file' name='archivoImage' id='avatar_new_project' />
          </div>
          <div class="form-group">
            <textarea name="name" rows="4" cols="80" id="description_new_project" class="form-control" placeholder="Escribe una descripcion"></textarea>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="alias_new_project" placeholder="Escribe un alias" >
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="date" class="form-control" id="initial_date_new_project" placeholder="Fecha Inicio" >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="date" class="form-control" id="final_date_new_project" placeholder="Fecha Final" >
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="button" @click="createProject" class="btn btn-primary btn-block" name="button">Guardar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="box-info-task hide" id="box-info-task">
      <div class="info-task" id="box-info-task-animated" >
          <div class="head-info-task">
            <h3 class="title-content"><i class="ion ion-android-arrow-back" @click="closeInfoTask" style="cursor: pointer;"></i> [[task_show.alias]]</h3>
          </div>
          <div class="content-info-task">
            <h4>#[[task_show.id]] [[task_show.name]]</h4>
            <h4 class="date-info-task"><i class="ion ion-ios-calendar-outline"></i> [[task_show.initial_date]] a [[task_show.final_date]]</h4>
            <p class="description-info-task">[[task_show.description]]</p>
            <hr>
            <button type="button" v-if="isadmin" @click="delete_element(null,task_show.id,'task')" class="btn-delete hideWeb" name="button"><i class="ion ion-close-round"></i> Eliminar</button>
            <hr>
            <div class="row">
              <div class="col-md-8">
                <h4>Comments</h4>
                <hr>
                <div class="box-comments-task">
                  <ul class="box-comments" v-if="comments.length > 0">
                    <li v-for="(comment,index) in comments" v-if="comment.parent_comment==null" class="comment">
                      <p class="box-comment"><span class="user-comment">@[[comment.user.username]] :</span> [[comment.comment]]</p>
                      <ul class="box-subcomments">
                        <li v-for="(subcomment,index) in comments" v-if="subcomment.parent_comment==comment.id" class="subcomment">
                          <p class="box-comment"><span class="user-comment">@[[subcomment.user.username]] :</span> [[subcomment.comment]]</p>
                        </li>
                      </ul>
                      <div class="box-new-comment">
                        <input type="text" v-on:keyup.enter="newComment(comment.id)" class="form-comment" required :id="'comment'+comment.id" placeholder="Escriba un comentario">
                      </div>
                    </li>
                  </ul>
                  <p class="iconsad" v-if="comments.length == 0"><i class="ion ion-sad-outline"></i></p>
                  <p class="textsad" v-if="comments.length == 0">No hay comentarios.</p>
                </div>
                <div class="box-new-comment">
                  <input type="text" v-on:keyup.enter="newComment(null)" class="form-comment" required id="comment_general" placeholder="Escriba un comentario">
                </div>

              </div>
              <div class="col-md-4">
                <div v-if="is_developer">
                  <h4>Mis Datos</h4>
                  <div  class="my-data-task">
                      <input type="number" class="form-control" v-model="i_developer.total_time" :min="i_developer.total_time" require id="my_total_time" aria-describedby="totalTimeHelp">
                      <small id="totalTimeHelp" class="form-text text-muted">Ingrese los minutos invertidos en esta tarea.</small>
                      <input type="number" class="form-control" v-model="i_developer.percentage" :min="i_developer.percentage" :max="100" require id="my_progress" aria-describedby="progressHelp">
                      <small id="progressHelp" class="form-text text-muted">Ingrese el porcentaje en que se encutra la tarea.</small>
                      <button type="button" class="btn btn-primary btn-block small" @click="updateMyData(i_developer.user.id)" name="button">Guardar</button>
                  </div>
                  <hr>
                </div>
                <h4>Datos</h4>
                <div class="data-task">
                  <p>Status:
                    <span v-if="task_show.status == 0" class="tags-data-task" status="todo" >Por Hacer</span>
                    <span v-if="task_show.status == 1" class="tags-data-task" status="inprogress" >En Proceso</span>
                    <span v-if="task_show.status == 2" class="tags-data-task" status="finished" >Terminada</span>
                  </p>
                  <p>Progreso: <span> [[task_show.percentage]]%</span></p>
                  <p>Tiempo total:<span> [[minutesToString(task_show.total_time)]]</span></p>
                </div>
                <hr>
                <h4>Developers</h4>
                <div class="box-users-asigns" v-if="developers.length > 0">
                  <p class="users-asign" >
                    <span v-for="(developer,index) in developers">@[[developer.user.username]] </span>
                  </p>
                </div>
                <hr>
                <input type="text" class="form-control" id="search_user" @keypress="findUser" aria-describedby="searchUser">
                <small id="searchUser" class="form-text text-muted">Escriba el usename de la persona que desea asignar y seleccionela.</small>

                <div class="list-group">
                  <button v-for="(user,index) in filter_users" @click="assignToTask(user.id)" type="button" class="list-group-item list-group-item-action">[[user.username]]</button>
                </div>
                <hr>
                <h4>SubTareas</h4>
                <div class="box-subtasks">
                  <div class="subtask" v-for="(subtask,index) in subtasks">
                    <span class="title-subtask">#[[subtask.id]] [[subtask.alias]]</span>
                    <span v-if="subtask.status == 0" class="tags-data-task movBottomRight" status="todo" >Por Hacer</span>
                    <span v-if="subtask.status == 1" class="tags-data-task movBottomRight" status="inprogress" >En Proceso</span>
                    <span v-if="subtask.status == 2" class="tags-data-task movBottomRight" status="finished" >Terminada</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    var vueApp = new Vue({
      el: "#appVue",
      delimiters: ['[[', ']]'],
      data: {
        url_base: "http://localhost:8000",
        current_user_id:{},
        users: [],
        current_user: {},
        projects: [],
        tasks: [],
        project_show: {},
        task_show: {},
        comments: [],
        developers: [],
        subtasks: [],
        is_developer: false,
        i_developer: {},
        filter_users: [],
        isadmin : false,
      },
      created: function(){
        this.getUsers();
        this.getProjects();
        this.getCurrentUser();
      },
      computed:{
      },
      methods: {
        getCurrentUser: function(){
          let url = this.url_base+"/current_user/";
          let self = this;
          $.get(url,function(response){
            self.current_user = response;
            if(response.groups.length >= 2 || response.groups[0] == 1){
              self.isadmin = true;
            }
            self.current_user_id = response.id;
          });
        },
        getProjects: function(){
          this.projects = []
          let url = this.url_base+"/projects/";
          let self = this;
          $.get(url,function(response){
            if(response.many){
              self.projects = response.data;
            }else{
              if(response.data != null){
                self.projects.push(response.data);
              }
            }
          });
        },
        goToProject: function(id,index){
          var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
          $("#home").addClass('animated zoomOut').one(animationEnd, function() {
            $("#home").addClass("hide");
            $("#home").removeClass('animated zoomOut');
            $("#view-project").removeClass("hide").addClass("animated zoomIn").one(animationEnd,function(){
              $("#view-project").removeClass("animated zoomIn");
            });;
          });


          this.project_show = this.projects[index];
          this.getTasksProject(id);

        },
        getTasksProject: function(id){
          let url = this.url_base+"/projects/"+id+"/tasks/";
          let self = this;
          this.tasks = [];
          $.get(url,function(response){
              if(response.many){
                self.tasks = response.data;
              }else{
                if(response.data != null){
                  self.tasks.push(response.data);
                }
              }
          });
        },
        goToHome: function(){
          this.getProjects();
          var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
          $("#view-project").addClass('animated zoomOut').one(animationEnd, function() {
            $("#view-project").addClass("hide");
            $("#view-project").removeClass('animated zoomOut');
            $("#home").removeClass("hide").addClass("animated zoomIn").one(animationEnd,function(){
              $("#home").removeClass("animated zoomIn");
            });
          });
        },
        allowDrop: function(ev){
          ev.preventDefault();
        },
        drag: function(ev){
          ev.dataTransfer.setData("dataindex",ev.target.getAttribute("dataindex"));
          ev.dataTransfer.setData("datatype",ev.target.getAttribute("datatype"));
          ev.dataTransfer.setData("id",ev.target.id);
        },
        drop: function(ev,new_status){
          ev.preventDefault();
          var index = ev.dataTransfer.getData("dataindex");
          task = this.tasks[index];
          task.status = new_status;
          let url = this.url_base+"/tasks/"+task.id+"/";

          let group_data = task;
          group_data.csrfmiddlewaretoken = "{{ csrf_token }}";

          $.post(url,group_data,function(response){});
        },
        delete_element: function(ev,id_element,type_element){
          if(id_element > 0){
            var type = type_element;
            var id = id_element;

            if(type=="task"){
              this.closeInfoTask();
              this.deleteTask(id);
            }else if (type=="project"){
              if(this.current_user.groups.length >= 2 || this.current_user.groups[0] == 1){
                this.deleteProject(id);
              }else{
                alert("No tienes permisos para hacer esto");
              }
            }
          }else{
            ev.preventDefault();
            var type = ev.dataTransfer.getData("datatype");
            var id = ev.dataTransfer.getData("id");

            if(type=="task"){
              this.deleteTask(id);
            }else if (type=="project"){
              if(this.current_user.groups.length >= 2 || this.current_user.groups[0] == 1){
                this.deleteProject(id);
              }else{
                alert("No tienes permisos para hacer esto");
              }
            }
          }
        },
        deleteProject: function(id){
          let url = this.url_base+"/projects/"+id+"/";
          let self = this;
          $.ajax(({
            url: url,
            type: 'DELETE',
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(response){
              $.each(self.projects,function(index,value){
                if(value.id == response.id){
                  self.projects.splice(index,1);
                }
              });
            },
            error: function(error){
              console.log(error);
            }
          }));
        },
        deleteTask: function(id){
          let url = this.url_base+"/tasks/"+id+"/";
          let self = this;
          $.ajax(({
            url: url,
            type: 'DELETE',
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(response){
              if(self.tasks.length > 0){
                $.each(self.tasks,function(index,value){
                  if(value.id == response.id){
                    self.tasks.splice(index,1);
                  }
                });
              }
            },
            error: function(error){
              console.log(error);
            }
          }));
        },
        showInfoTask: function(id){
          var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';

          $("#box-info-task").removeClass("hide");
          $("#box-info-task-animated").addClass("animated slideInRight").one(animationEnd,function(){
            $("#box-info-task-animated").removeClass("animated slideInRight");
          });

          this.getTask(id);
        },
        getTask: function(id){
          this.task_show = {};

          let url = this.url_base+"/tasks/"+id+"/";
          let self = this;
          $.get(url,function(response){
            self.task_show = response;
            self.getDataTask(id);
          });
        },
        closeInfoTask: function(){
          var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';

          $("#box-info-task-animated").addClass("animated slideOutRight").one(animationEnd,function(){
            $("#box-info-task").addClass("hide");
            $("#box-info-task-animated").removeClass("animated slideOutRight");
          });
        },
        getDataTask: function(id){
          this.comments = [];

          let url = this.url_base+"/tasks/"+id+"/comments";
          let self = this;
          $.get(url,function(response){
            if(!response.errors && response.data != null){
              if(response.many){
                self.comments = response.data;
              }else{
                self.comments.push(response.data);
              }
            }
          });

          this.developers = [];
          this.is_developer = false;
          this.i_developer = false;

          let url2 = this.url_base+"/tasks/"+id+"/developers";
          $.get(url2,function(response){
            if(response.many){
              self.developers = response.data;
              $.each(self.developers, function(index,value){
                if(self.current_user.id == value.user.id){
                  self.is_developer = true;
                  self.i_developer = value;
                }
              });
            }else{
              if(response.data){
                self.developers.push(response.data);
                if(response.data.user.id == self.current_user.id){
                  self.is_developer = true;
                  self.i_developer = response.data;
                }
              }
            }
          });

          this.subtasks = [];

          let url3 = this.url_base+"/tasks/"+id+"/subtasks";
          $.get(url3,function(response){
            self.subtasks = response;
          });

        },
        newComment: function(id){
          let url = this.url_base+"/comments/";
          let data_group = {
            task: this.task_show.id,
            user: this.current_user.id,
            title: "Comment"
          };

          if(id != null){
            data_group.comment = $("#comment"+id).val();
            data_group.parent_comment = id;
          }else{
            data_group.comment = $("#comment_general").val();
          }
          data_group.csrfmiddlewaretoken = "{{ csrf_token }}";

          let self = this;
          if(data_group.comment != ""){
            $.post(url,data_group,function(response){
              let data = response;
              data.user = self.current_user;
              self.comments.push(response);
              if(id != null){
                $("#comment"+id).val("");
              }else{
                $("#comment_general").val("");
              }
            });
          }
        },
        minutesToString: function(minutes){
            var seconds = Math.floor(minutes*60);
            var numdays = Math.floor(seconds / 86400);
            var numhours = Math.floor((seconds % 86400) / 3600);
            var numminutes = Math.floor(((seconds % 86400) % 3600) / 60);

            return numdays + " dias " + numhours + " horas " + numminutes + " minutos ";
        },
        updateMyData: function(id){
          let url = this.url_base+"/tasks/"+this.task_show.id+"/developers/"+id+"/";
          let data_group = {
            total_time: parseInt($("#my_total_time").val()),
            percentage: parseFloat($("#my_progress").val()),
            user: id,
            task: this.task_show.id
          };
          data_group.csrfmiddlewaretoken = "{{ csrf_token }}";
          let self = this;
          $.post(url,data_group,function(response){
            self.getTask(self.task_show.id);
          });
        },
        getUsers: function(){
          let url = this.url_base+"/users/";
          let self = this;
          $.get(url,function(response){
            self.users = response;
          });
        },
        findUser: function(){
          let value = $("#search_user").val();
          let self = this;
          this.filter_users = [];
          this.users.filter(function (item){
            if (item["username"].includes(value)){
              self.filter_users.push(item);
            };
          })
        },
        assignToTask: function(id){
          let url = this.url_base+"/tasks/"+this.task_show.id+"/developers/";
          let data_group = {
            total_time: 0,
            percentage: 0,
            user: id,
            task: this.task_show.id
          };
          data_group.csrfmiddlewaretoken = "{{ csrf_token }}";
          let self = this;
          $.post(url,data_group,function(response){
            if(!response.message){
              self.developers.push(response);
              self.filter_users = [];
              $("#search_user").val("");
              if(self.current_user.id == response.user.id){
                self.is_developer = true;
                self.i_developer = response;
              }
            }else{
              alert("Este usuario ya esta asignado");
            }
          });
        },
        closeModalCreate: function(id_general,id_modal){
          var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
          $("#"+id_modal).addClass("animated zoomOut").one(animationEnd,function(){
            $("#"+id_general).addClass("hide");
            $("#"+id_modal).removeClass("animated zoomOut");
          });
        },
        showModalCreate: function(id_general,id_modal){
          var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
          $("#"+id_general).removeClass("hide");
          $("#"+id_modal).addClass("animated zoomIn").one(animationEnd,function(){
            $("#"+id_modal).removeClass("animated zoomIn");
          });
        },
        createTask: function(){
          let url = this.url_base+"/tasks/";
          let data_group = {
            total_time: 0,
            percentage: 0,
            project: this.project_show.id,
            final_date: $('#final_date_new_task').val(),
            initial_date: $('#initial_date_new_task').val(),
            name: $('#name_new_task').val(),
            alias: $('#alias_new_task').val(),
            description: $('#description_new_task').val()
          };
          data_group.csrfmiddlewaretoken = "{{ csrf_token }}";

          let parent_task = $('#parent_task_new_task').val();
          if(parent_task != "null"){
            data_group.parent_task = parent_task;
          }

          let self = this;
          $.post(url,data_group,function(response){
            if(!response.message){
              let data = response;
              data.project = this.project_show;
              self.tasks.push(data);
              self.closeModalCreate('modal_create_task_general','modal_create_task');
            }else{
              alert("Ocurrio un problema");
            }
          });
        },
        createProject: function(){
          let url = this.url_base+"/projects/";
          let file = $("#avatar_new_project").get(0).files[0];
          var data = new FormData();
          data.append('final_date',$('#final_date_new_project').val());
          data.append('initial_date',$('#initial_date_new_project').val());
          data.append('name',$('#name_new_project').val());
          data.append('alias',$('#alias_new_project').val());
          data.append('description',$('#description_new_project').val());
          data.append('csrfmiddlewaretoken',"{{ csrf_token }}");
          data.append('leader_user',this.current_user.id);
          data.append('avatar',file);
          let self = this;
          $.ajax({
            url: url,
            type: "POST",
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function(response){
              if (!response.errors) {
                console.log(response);
                self.projects.push(response);
                self.closeModalCreate('modal_create_project_general','modal_create_project');
              }else{
                alert("Ocurrio un problema");
              }
            }
          });
        },
      }
    })
  </script>
</body>
</html>
