.box-login,.box-register{
  width: 40%;
  min-height: 40vh;
  background-color: #f0f0f0;
  position: fixed;
  padding: 10px;
  border-radius: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top: 5px solid black;;
  top: 15%;
  left: 30%;
}

.box-register{
  top: 5%;
  left: 30%;
}


@media (max-width: 800px) {
  .box-login{
    width: 80%;
    left: 10%;
  }
}
