*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.box-nav, .btn-nav{
  background-color: #3B3B3B;
}

.box-project, .image-profile{
  margin: 10px auto;
}

.image-profile, .box-project, .comment, .subtask, .box-create-task, .box-drop{
  border-radius: 5px;
}

.title-profile, .user-comment{
  font-weight: bold;
}

.title-profile, .box-tasks, .head-box-tasks, .box-comments-task, .box-new-comment, .box-drop{
  margin: 0px auto;
}

.box-nav, .box-project, .subtask, .box-drop{
  position: relative;
}

.img-project, .title-project, .subtitle-project, .description-project, .leader-project, .movBottomRight, .title-subtask, .box-icon-drop, .btn-nav{
  position: absolute;
}

.image-profile, .title-profile, .box-tasks, .title-head-box-tasks, .tags-data-task, .form-comment{
  display: block;
}

.box-content, .head-info-task, .content-info-task, .box-create-task{
  padding: 20px;
}

.image-profile, .title-profile {
  width: 85%;
}

.title-content, .subtitle-project, .description-project, .box-create-task h4, .users-asigns, .form-comment, .textsad, .box-subtasks{
  font-weight: lighter;
}

.title-project, .leader-project, .title-head-box-tasks, .name_task, .title-subtask{
  font-weight: normal;
}

.title-project, .leader-project, .form-comment, .textsad, .title-subtask, .btn-nav{
  font-size: 1em;
}

.description-project, .name_task, .users-asigns{
  font-size: 0.9em;
}

.box-tasks, .head-box-tasks{
  background-color: #f7f7f7;
  width: 98%;
}

.head-box-tasks, .title-head-box-tasks, .tags-data-task{
  padding: 5px;
}

.task, .head-box-tasks{
  height: 40px;
}

.task, .info-task, .content-info-task, .box-comment, .box-create-task{
  background-color: white;
}

.task, .form-comment, .comment, .box-comment{
  padding: 10px;
}

.title-head-box-tasks, .tags-data-task, .btn-nav a, .btn-create, .btn-delete{
  color: white;
}

.title-head-box-tasks, .tags-data-task, .form-comment, .box-comment, .btn-create, .btn-delete{
  border-radius: 20px;
}

.box-info-task, .info-task, .box-general-create-task, .box-create-task{
  position: fixed;
}

.head-info-task, .comment, .subtask, footer{
  background-color: #F0F0F0;
}

.tags-data-task, .form-comment{
  margin: 5px;
}

.hide{
  display: none;
}

.box-nav{
  width: 100%;
  height: 8vh;
  margin-bottom: 15px;
}

.box-content{
  min-height: 80vh;
}

.title-content{
  font-size: 1.5em;
}

.box-project{
  height: 120px;
  border: 1px solid rgba(0,0,0,.3);
}

.img-project{
  height: 50%;
  top: 4%;
  left: 4%;
}

.title-project{
  right: 5%;
  top: 5%;
}

.subtitle-project{
  left: 24%;
  top: 25%;
  font-size: 1.3em;
}

.description-project{
  left: 4%;
  top: 60%;
}

.leader-project{
  bottom: 0%;
  right: 4%;
}

.box-tasks{
  height: 50vh;
  overflow: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.task{
  width: 96%;
  margin: 4px auto;
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0.1);
}

.head-box-tasks{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.title-head-box-tasks{
  text-align: center;
  font-size: 0.8em;
  width: 100px;
}

[status="todo"]{
  background-color: #F0C419;
}

[status="finished"]{
  background-color: #4EBA6F;
}

[status="inprogress"]{
  background-color: #2D95BF;
}

#head-todo{
  border-top: 4px solid #F0C419;
}

#head-finished{
  border-top: 4px solid #4EBA6F;
}

#head-inprogress{
  border-top: 4px solid #2D95BF;
}

.box-info-task{
  width: 100%;
  height: 100vh;
  top: 0%;
  right: 0%;
  background-color: rgba(0,0,0,.3);
}

.info-task{
  width: 70%;
  top: 0%;
  right: 0%;
  height: 100%;
  border-left: 1px solid rgba(0,0,0,.4);
}

.head-info-task{
  width: 100%;
  max-height: 10vh;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.content-info-task{
  width: 100%;
  height: 90vh;
  overflow: auto;
}

.description-info-task{
  text-align: justify;
}

.date-info-task{
  font-size: 0.7em;
}

.box-users-asigns{
  max-height: 20vh;
  overflow: auto;
  border-top: 1px solid rgba(0,0,0,.1);
}

.tags-data-task{
  width: 100px;
  text-align: center;
  font-size: 0.8em;

}

.box-comments-task{
  width: 96%;
  min-height: 40vh;
  max-height: 100vh;
  overflow: auto;
}

.box-new-comment{
  width: 96%;
  height: 10vh;
  border-top: 1px solid rgba(0,0,0,.1);
}

.form-comment{
  width: 100%;
  height:6vh;
  border: 1px solid rgba(0,0,0,.1);
}

.box-comments{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.box-subcomments{
  list-style: none;
}

.box-comment{
  text-align: justify;
}

.iconsad{
  font-size: 3em;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.textsad{
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.box-subtasks{
  width: 100%;
  min-height: 12vh;
  max-height: 40vh;
  overflow: auto;
}

.subtask{
  width: 90%;
  margin: 5px auto;
  height: 10vh;
  border: 1px solid rgba(0,0,0,.1);
}

.movBottomRight{
  bottom: 0%;
  right: 0%;
}

.title-subtask{
  left: 3%;
  top: 3%;
}

.my-data-task{
  width: 100%;
}

.btn-delete, .btn-create{
  background-color: #2ED069;
  border: 0px solid black;
  padding: 5px 15px;
  margin: 10px;
  cursor: pointer;
}

.btn-create{
  background-color: #2ED069;
}

.btn-delete{
  background-color: red;
}


.box-general-create-task{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  top: 0%;
  left: 0%;
}

.box-create-task{
  width: 40%;
  height: 80vh;
  top: 10%;
  left: 30%;
  border: 1px solid rgba(0,0,0,.1);
  border-top: 6px solid #F0C419;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-drop{
  width: 90%;
  height: 30vh;
  border: 2px solid rgba(190,20,0,.1);
}

.box-icon-drop{
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
}

.box-icon-drop i{
  font-size: 6em;
  color: rgba(0,0,0,.3);
}

.btn-nav{
  width: 10%;
  height: 8vh;
  right: 5%;
  top: 0%;
  border: 0px;
}

footer{
  width: 100%;
  height: 20vh;
}

@media (max-width: 800px) {
  .box-create-task{
    width: 70%;
    left: 15%;
  }

  .hideMobile{
    display: none;
  }

  .info-task{
    width: 100%;
  }
}

@media (min-width: 801px){
  .hideWeb{
    display: none;
  }
}
